<% content_for :header do %>
  <nav>
    <%= link_to splats_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">All Splats</span>
    <% end %>

    <div class="flex-item-justify-end" data-controller="dialog">
      <%= tag.button class: "btn flex-item-justify-end", popovertarget: "splat-edit-panel" do %>
        <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Edit <%= @splat.title %></span>
      <% end %>

      <dialog class="panel" id="splat-edit-panel" data-dialog-target="dialog" popover>
        <div class="flex pad">
          <%= turbo_frame_tag @splat, :edit, src: edit_splat_path(@splat), target: "_top" %>
        </div>
      </dialog>
    </div>
  </nav>
<% end %>

<div class="splat__perma flex justify-center center margin-block-end-double">
  <%= render @splat %>
</div>

<div class="splat__notes fill-transparent txt-align-start panel center pad-block-half pad-inline-end borderless margin-block-start-double flex align-start" style="--splat-color: <%= @splat.color %>;">
  <div class="full-width">
    <%= simple_format @splat.body %>
  </div>

  <%= tag.button class: "btn txt-small btn--reversed flex-item-no-shrink", style: "--btn-background: #{ @splat.color }" do %>
    <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
    <span class="for-screen-reader">Edit <%= @splat.title %> notes</span>
  <% end %>
</div>

<section class="comments panel center borderless margin-block flex flex-column gap" style="--splat-color: <%= @splat.color %>;">

  <hr />
  <%= render @splat.comments %>

  <button class="btn btn--positive center">
    <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
    <span class="for-screen-reader">Add a comment</span>
  </button>
</section>
