<% @page_title = "Workflows" %>

<% content_for :header do %>
  <%= render "filters/menu", user_filtering: @user_filtering %>
  <h1 class="header__title"><%= @page_title %></h1>
  <div class="header__actions header__actions--end">
    <%= link_to new_workflow_path, class: "btn" do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Create a new workflow</span>
    <% end %>
  </div>
<% end %>

<%= turbo_frame_tag :workflows do %>
  <section class="center justify-center flex flex-wrap gap">
    <%= render partial: "workflows/workflow", collection: @workflows %>
  </section>
<% end %>
