<%= messages_tag(card) do %>
  <%= render partial: "messages/message", collection: card.messages, cached: true %>
  <%= render "cards/comments/new", card: card, cached: true %>

  <div class="comments__subscribers flex flex-column margin-block txt-align-start full-width">
    <strong class="txt-uppercase">Subscribers</strong>

    <p class="margin-none-block-start margin-block-end-half">
      <%= pluralize(@card.watchers.count, "person") %> will be notified when someone comments on this.
    </p>

    <div class="flex align-center flex-wrap gap-half max-width txt-normal">
      <% prepend_current_user_to(@card.watchers.alphabetically).each do |watcher| %>
        <%= avatar_tag watcher %>
      <% end %>
    </div>
  </div>
<% end %>
