<div class="filters flex align-center gap-half margin-block-end-half margin-none-block-start justify-center center">
  <div class="flex-inline center align-center gap-half">
    <%= render "filters/tags", filter: filter %>
    <%= render "filters/assignees", filter: filter %>
    <%= render "filters/creators", filter: filter %>

    <% filter.terms.each do |term| %>
      <%= filter_chip_tag %Q("#{term}"), filter.as_params_without(:terms, term) %>
    <% end %>

    <% if any_filters?(filter) %>
      <%= link_to cards_path, class: "btn btn--remove txt-x-small" do %>
        <%= icon_tag "close" %>
        <span class="for-screen-reader">Clear all</span>
      <% end %>
    <% end %>
  </div>
</div>
